// COLORS
$black: #000;
$gray: #777;
$white: #fff;
$white-light: #fafafa;
$white-md-light: #9e9e9e;
$blue: #0061f7;
$blue-light: #5687f0;
$blue-light-1: #a9ccff;
$blue-light-2: #a9cbff80;
$red: #ff3c3c;
$red-light: #f05959;
$bg__grad--1: #36d1dc;
$bg__grad--2: #5b86e5;
// FONT
$default-font-size: 1.6rem;
$title-font-size: 5rem;
$md-font-size: 4rem;
$mh-font-size:2.5rem;
$ms-font-size: 2rem;
//WEIGHT
$regular-font-weigth: 400;
$bold-font-weigth: 700;
// TYPOGRAPHY
$font_sans: "PT Sans Narrow", sans-serif;
$font_Condesed: "Open Sans Condensed", sans-serif;
