.alert {
  border-radius: 5px;
  position: absolute;
  top: 5rem;
  padding: 1rem;
  animation-name: moveInUp;
  animation-duration: 1s;
  &-error {
    background: $red;
    color: $white;
  }
  &-fail {
    top: 12rem;
    background: $red;
    color: $white;
  }
  &-success{
    background: $green;
    color: $white;
  }
  &-correct{
    top: 12rem;
    background: $green;
    color: $white;
  }
}

