// LOGIN, CREATE, LOGOUT, FORGETT RESTORE
.auth_input {
  outline: none;
  border: none;
  border-bottom: 2px solid $blue-light-1;
  letter-spacing: 0.2rem;
  background: $white-light;
  width: 100%;
}
